<html>

  <body>
    <!-- ... -->

    <div class="container">
    <br>
    <h1>Hey ! </h1>
    <h2> C'est ici que tu peux malverser !</h2>
    <br>
    </div>

    <div class="container">
  <%= form_tag url_for(action: 'create'), method: "post", class: "form-horizontal" do %>

    <div class="form-group">
      <%= label_tag 'Titre de ta malversation' %>
      <div class="col-sm-10">
        <%= text_field_tag 'title', "", class: "form-control" %>
      </div>
    </div>

    <br>

    <div class="form-group">
      <%= label_tag "Qu'est-ce que tu veux nous dire ?" %>
      <div class="col-sm-10">
        <%= text_area_tag 'content', "", class: "form-control" %>
      </div>
    </div>

    <br>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= submit_tag "Créer une malversation", class: "btn btn-primary" %>
      </div>
    </div>

  <% end %>
</div>



  </body>
</html>